@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

/**** Snackbar styles ****/

.success-snackbar .mdc-snackbar__surface {
  background-color: #0c4d0e !important;
}

.success-snackbar .mdc-snackbar__label {
  color: white !important;
}

.success-snackbar .mat-mdc-snack-bar-action button {
  color: white !important;
}

.success-snackbar .mat-mdc-button {
  color: white !important;
}

.error-snackbar .mdc-snackbar__surface {
  background-color: #f44336 !important;
}

.error-snackbar .mdc-snackbar__label {
  color: white !important;
}

.error-snackbar .mat-mdc-snack-bar-action button {
  color: white !important;
}

.error-snackbar .mat-mdc-button {
  color: white !important;
}

/**** Create dialog styles ****/

.create-dialog-panel {
  width: 400px;
  overflow: hidden;
}

.create-dialog-form-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-top: 1rem;
}
