.table-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* Don't use default table caption because it cannot use sticky position */
.table-caption {
  top: 0;
  background-color: #fff;
  font-weight: bold;
  padding: 0.75rem;
  text-align: center;
}

.table-scroll-wrapper {
  flex: 1;
  overflow: auto;
  border: 1px solid #ddd;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  height: 30px;
  top: 0;
  background-color: #f5f5f5;
  z-index: 1000;
}

tbody tr {
  height: 30px;
}

tfoot {
  position: sticky;
  height: 30px;
  bottom: 0;
  background-color: #f5f5f5;
  z-index: 1000;
}

th,
td:not(.filler-cell) {
  padding: 0.75rem;
  border-bottom: 1px solid #ddd;
}

th {
  text-align: center;
}

th.selectable-column,
td.selectable-column {
  width: 30px;
  text-align: center;
  padding: 0 5px;
}

.action-column {
  width: 175px;
}

th.action-column {
  background-color: #f5f5f5;
}

td:not(.highlight) td.action-column {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f9f9f9;
}

/* This hack remove the <tr> element and allow to expand the <td> height */
tbody .filler-row {
  display: contents;
}

tbody .filler-row .filler-cell {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

tbody .hidden-row {
  display: none;
}

.highlight {
  background-color: rgb(253, 253, 205) !important;
  transition: background-color 1.5s ease-out;
}

.text-align-center {
  text-align: center;
}

/**** MOBILE / TABLET VERSION *****/
@media (max-width: 1024px) {
  .action-column {
    position: sticky;
    right: 0;
    z-index: 2;
  }

  .action-column .action-buttons {
    display: flex;
    flex-direction: column;
  }
}
