.table-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

/* Don't use default table caption because it cannot use sticky position */
.table-caption {
  top: 0;
  background-color: #fff;
  font-weight: bold;
  padding: 0.75rem;
  text-align: center;
}

.table-scroll-wrapper {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden; /* Prevent the 5px horizontal scroll jump */
  border: 1px solid #ddd;
  background-color: #fff;
}

table {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
}

thead,
tbody,
tfoot,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
  z-index: 1000;
}

tbody {
  flex: 1; /* Push footer to the bottom */
  display: block;
}

tfoot {
  position: sticky;
  bottom: 0;
  background-color: #f5f5f5;
  z-index: 1000;
}

/* Grouped heights for header, footer and rows */
thead tr,
tfoot tr,
tbody tr {
  height: 30px;
}

th,
td:not(.no-data-cell) {
  padding: 0.75rem;
  border-bottom: 1px solid #ddd;
}

th {
  text-align: center;
}

th.selectable-column,
td.selectable-column {
  width: 30px;
  text-align: center;
  padding: 0 5px;
}

.action-column {
  width: 175px;
}

th.action-column {
  background-color: #f5f5f5;
}

td:not(.highlight) td.action-column {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f9f9f9;
}

/* Ensure the row behaves like a table row even inside a flex container */
tbody .no-data-row {
  display: table !important;
  width: 100%;
}

.no-data-cell {
  padding: 2rem;
  text-align: center;
  border: none;
  color: #666;
  font-style: italic;
}

tbody .hidden-row {
  display: none;
}

.highlight {
  background-color: rgb(253, 253, 205) !important;
  transition: background-color 1.5s ease-out;
}

.text-align-center {
  text-align: center;
}

/**** MOBILE / TABLET VERSION *****/
@media (max-width: 1024px) {
  .action-column {
    position: sticky;
    right: 0;
    z-index: 2;
  }

  .action-column .action-buttons {
    display: flex;
    flex-direction: column;
  }
}
